@font-face {
    font-family: 'itc_conduit';
    src: url(../assets/fonts/Conduit-ITC-Bold.woff) format('woff'),
         url(../assets/fonts/Conduit-ITC-Bold.ttf) format('truetype');
    font-style: normal;
}

.gameLobbyPlayerBanner {
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    margin: 5px 0px 5px 0px;
    background-color: #dcdcdc;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.container {
    font-family: itc_conduit;
}

.divider {
    background-color: #696969;
    width: 100%;
    height: 1px;
    margin-bottom: 5px;
}

.entryButton {
    margin-top: 20px;
}

/*.gameCanvas {
    background-color: #ffffff;
    border: 2px solid #696969;
    border-radius: 5px;
}
*/